In [1]:
import requests 
from bs4 import BeautifulSoup

In [2]:
url="https://hamariweb.com/names/turkish/"

In [3]:
response=requests.get(url)

In [4]:
print(response)

<Response [200]>

In [5]:
soup=BeautifulSoup(response.content,"html.parser")

In [6]:
find=soup.find("div",{"class":"tabs__content active","id":"tab-1"}).find_all("tr")

In [7]:
name_list=[]

In [8]:
for item in find:
  try:
    it=item.find("td")
    name_list.append(it.text)
  except:
    print("-----------")

-----------

In [9]:
for item in name_list:
  print(item)

Altamash
Elif
Murat
Esra
Hande
Alara
Ayleen
Burak
Afridi
Orhan
Eren
Ertugrul
Sibel
Altan
Demir
Ozan
Aylin
Eylül
Emre
Can
Deniz
Emin
Pasha
Alp
Emira
Baris
Aibak
Aagha
Yildiz
Aaghaa
Halime
Aiyla
Baki
Ozge
Tabib
Lunara
Filiz
Emel
Hasad
Ender
Afandi
Kaan
Elnara
Ceylan
Akay
Emine
Baig
Sefa
Oguz
Okan
Emir
Esmeray
Ceyda
Efe
Enayat
Safiye
Defne
Turgut
Esana
Mesut
Gamze
Alev
Mert
Rezan
Dameer
Eldar
Chana
Kadri
Ozge
Neylan
Ece
Sezen
Guney
Khatoon
Chughtai
Aergul
Abay
Tarkan
Shahinaz
Beyza
Funda
Balian
Soner
Nazik
Onur
Burcu
Zeki
Asur
Meltem
Bashi
Aydin
Serap
Abi
Ensar
Ahmet
Ediz
Aysun
Bamsi
Elvan
Cenk

In [10]:
import pandas as pd

In [11]:
dic={"İsimler":name_list}

In [12]:
df=pd.DataFrame(dic)

In [13]:
df

     İsimler
0   Altamash
1       Elif
2      Murat
3       Esra
4      Hande
..       ...
95      Ediz
96     Aysun
97     Bamsi
98     Elvan
99      Cenk

[100 rows x 1 columns]

In [14]:
df.to_excel("İsimler.xlsx")

In [15]:
pd.read_excel("İsimler.xlsx")

    Unnamed: 0   İsimler
0            0  Altamash
1            1      Elif
2            2     Murat
3            3      Esra
4            4     Hande
..         ...       ...
95          95      Ediz
96          96     Aysun
97          97     Bamsi
98          98     Elvan
99          99      Cenk

[100 rows x 2 columns]